<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPORTMAGAZINE.RU</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
    <header>
        <div class="header__top">
            <div class="container">
                <div class="header__information">
                    <a href="../../index.html">
                        <div class="header__logo">
                            <div class="header__icon">
                                <img src="../../images/icons/logo.png" alt="логотип сайта">
                            </div>
                            <div class="header__name">
                                <h1>SPORTMAGAZINE.RU</h1>
                            </div>
                        </div>
                    </a>
                    <div class="header__date">
                        <div class="header__time">
                            <span id="clock"></span>
                        </div>
                        <div class="header__day">
                            <span id="dayOfWeek"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="header__menu">
                <div class="header__element">
                    <a href="football.html">ФУТБОЛ</a>
                </div>
                <div class="header__element">
                    <a href="hockey.html">ХОККЕЙ</a>
                </div>
                <div class="header__element">
                    <a href="tennis.html">ТЕННИС</a>
                </div>
                <div class="header__element">
                    <a href="mma.html">ММА</a>
                </div>
                <div class="header__element">
                    <a href="cybersport.html">КИБЕРСПОРТ</a>
                </div>
                <div class="header__element">
                    <a href="box.html">БОКС</a>
                </div>
            </div>
        </div>
    </header>
    <div class="content">
        <div class="container">
            <div class="category">
                <div class="category__heading">
                    <span>КИБЕРСПОРТ</span>
                </div>
                <div class="category__elements">
                    <a href="cybersport/1.html">
                        <div class="category__element">
                            <div class="category__news">
                                <div class="category__flex">
                                    <div class="category__text">
                                        <span>Россияне победили на турнире по Dota 2. Почему это — шок и главная новость дня</span>
                                    </div>
                                    <div class="category__img">
                                        <img src="../../images/second-images/e119866fbd9313c3a59b62f264e1ffcf.webp" alt="Фото новости">
                                    </div>
                                </div>
                                <div class="category__info">
                                    <div class="category__time">
                                        <span>11:21</span>
                                    </div>
                                    <div class="category__views">
                                        <div class="category__views--img">
                                            <img src="../../images/icons/views.png" alt="глаз">
                                        </div>
                                        <span>5341</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>

                    <div class="category__element">
                        <a href="cybersport/2.html">
                            <div class="category__news">
                                <div class="category__flex">
                                    <div class="category__text">
                                        <span>Порноактриса Eva Elfie: «Слежу за мейджором по CS:GO, болею за всех из СНГ, но мой фаворит — это команда NAVI и s1mple»</span>
                                    </div>
                                    <div class="category__img">
                                        <img src="../../images/second-images/ab03b8a07fdd78f7d02e1c41f5c0a737.png" alt="Фото новости">
                                    </div>
                                </div>
                                <div class="category__info">
                                    <div class="category__time">
                                        <span>16:21</span>
                                    </div>
                                    <div class="category__views">
                                        <div class="category__views--img">
                                            <img src="../../images/icons/views.png" alt="глаз">
                                        </div>
                                        <span>412</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
    <footer>
        <div class="footer__fixed">
            <div class="container">
                <div class="footer__contacts">
                    <div class="footer__contact">
                        <div class="footer__logo">
                            <div class="footer__icon">
                                <img src="../../images/icons/mail.png" alt="логотип">
                            </div>
                            <div class="footer__name">
                                <h2>contact@sp.ru</h2>
                            </div>
                        </div>
                    </div>

                    <div class="footer__contact">
                        <div class="footer__logo">
                            <div class="footer__icon">
                                <img src="../../images/icons/instagram.png" alt="логотип">
                            </div>
                            <div class="footer__name">
                                <h2>sportmagazin_ru</h2>
                            </div>
                        </div>
                    </div>
                    <div class="footer__contact">
                        <div class="footer__logo">
                            <div class="footer__icon logo">
                                <img style="margin: -3px;" src="../../images/icons/logo-mini.png" alt="логотип">
                            </div>
                            <div style="margin-left: -2px;" class="footer__name">
                                <h2>SPORTMAGAZINE.RU</h2>
                            </div>
                        </div>
                    </div>
                    <div class="footer__contact">
                        <div class="footer__logo">
                            <div class="footer__icon">
                                <img src="../../images/icons/twitter.png" alt="логотип">
                            </div>
                            <div class="footer__name">
                                <h2>sportmagezinru</h2>
                            </div>
                        </div>
                    </div>
                    <div class="footer__contact">
                        <div class="footer__logo">
                            <div class="footer__icon">
                                <img src="../../images/icons/vk.png" alt="логотип">
                            </div>
                            <div class="footer__name">
                                <h2>vk.com/spru</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer__bottom">
            <div class="container">
                <div class="footer__block">
                    <div class="footer__element">
                        <a href="../../index.html">ГЛАВНАЯ</a>
                    </div>
                    <div class="footer__element">
                        <a href="hockey.html">ХОККЕЙ</a>
                    </div>
                    <div class="footer__element">
                        <a href="tennis.html">ТЕННИС</a>
                    </div>
                    <div class="footer__element">
                        <a href="football.html">ФУТБОЛ</a>
                    </div>
                    <div class="footer__element">
                        <a href="cybersport.html">КИБЕРСПОРТ</a>
                    </div>
                    <div class="footer__element">
                        <a href="box.html">БОКС</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
<script type="text/javascript" src="../../js/script.js"></script>

</html>